</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <%var D=new Date();%>
  <%var year=D.getFullYear();%>
  <p>Copyright © 
    <%=year%>.
  </p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</body>
</html>